.row
  .col-xs-4.col-md-offset-2
    %h2
      = @business.name
      %small#id
        = @business.id
  .col-xs-2.col-md-offset-2
    .latest-score-container
      %h1.latest-score
        = @business.latest_score

.row
  .col-md-3.col-md-offset-2
    %h3
      Address:
    %p#address
      = @business.address
  .col-md-5
    #map

.row
  .col-md-5.col-md-offset-2
    %canvas#chart{height: "200", width: "700", style: "height: 200px; width: 700px;"}

.row
  .col-md-8.col-md-offset-2
    %h3
      Inspections
    - @business.inspections.each do |inspection|
      %h4
        = "#{inspection.date} -  Score: #{inspection.score}"
      %table.table.table-striped
        %thead
          %tr
            %th
              Code
            %th
              Description
        %tbody
          - inspection.violations.each do |violation|
            %tr
              %td
                = violation.code
              %td
                = violation.description
