.row
  .span8.offset2
    %h2
      = @business.name
      %small#id
        = @business.id

.row
  .span3.offset2
    %h3
      Address:
    %p#address
      = @business.address
  .span5
    #map

.row
  .span5.offset2
    %canvas#chart.hide{height: "200", width: "700", style: "height: 200px; width: 700px;"}

.row
  .span8.offset2
    %h3
      Inspections
    - @business.inspections.each do |inspection|
      %h4
        = "#{inspection.date} -  Score: #{inspection.score}"
      %table.table.table-striped
        %thead
          %tr
            %th
              Code
            %th
              Description
        %tbody
          - inspection.violations.each do |violation|
            %tr
              %td
                = violation.code
              %td
                = violation.description