.row
  .span8.offset2
    %h2
      = @business.name
      %small#id
        = @business.id

.row
  .span3.offset2
    %h3
      Address:
    %p
      = @business.address
  .span5
    %canvas#chart{height: "300", width: "500", style: "height: 300px; width: 500px;"}

.row
  .span8.offset2
    %h3
      Inspections
    - @business.inspections.each do |inspection|
      %h4
        = "#{inspection.date} -  Score: #{inspection.score}"
      %table.table.table-striped
        %thead
          %tr
            %th
              Code
            %th
              Description
        %tbody
          - inspection.violations.each do |violation|
            %tr
              %td
                = violation.code
              %td
                = violation.description