.row
  .span8
    %h1
      LIVES Viewer
      %small
        Explore Health Inspection Data
.row
  .span6
    %p.lead
      Find inspections and violations for restaurants in your city.

.row
  .span6
    = form_tag('/business_search', {class: 'form-search'}) do
      .input-append
        = text_field_tag :query, nil, {class: 'search-query input-block-level', placeholder: 'Search for a business', id: 'search', autocomplete: 'off'}
        = submit_tag "Search", {class: 'btn'}
.row
  .span6
    %h2
      Average Score:
      = @average


.row
  .span4.well
    %h3
      Worst Violators
    %table.table
      %thead
        %tr
          %th
            Business
          %th
            Score
      %tbody
        - @offenders.each do |inspection|
          %tr
            %td
              = link_to inspection.business.name, business_path(inspection.business)
            %td
              = inspection.score

  .span4.well
    %h3
      Top
    %table.table
      %thead
        %tr
          %th
            Business
          %th
            Score
      %tbody
        - @top.each do |inspection|
          %tr
            %td
              = link_to inspection.business.name, business_path(inspection.business)
            %td
              = inspection.score